# Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
bin/
obj/

# Build Results
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc

# Azure Pipelines
.vsts/
pipeline.cache/

# Backup & Report files
*.bak
*.swp
*.log
*.ide
*.tlog
*.idb
*.pdb
*.mdb
*.pch

# Temporary Files
*.tmp
*.temp
*.tlog
~$*

# Other
TestResults/
.nuget/
*.dbmdl
*.jfm

# Resharper files
_ReSharper*/
*.DotSettings.user

# Rider files
.idea/
.idea_modules/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: log, coverage, and secrets
logs/
*.log
*.coverage
*.secret

# Dependency directories
packages/

# Visual Studio

*.suo

*.dll
*.exe
*.pdb

*.cache
*.props
*.Up2Date
*.txt
*.editorconfig
